//Font
$primary-font: Montserrat;

$background-color: #ffffff;
$text-color: #000000;

//button
$btn-dark: #34495e;
$btn-light: #ffffff;
$btn-success: #0abf30;
$btn-error: #e24d4c;
$btn-warning: #e9bd0c;
$btn-info: #3498db;
