@use '../abstracts' as *;

.top-bar {
  padding-top: 30px;
  justify-content: space-between;
  display: flex;
}

#search-box {
  border: 1.5px $border-color solid;
  border-radius: 10px;
  font-family: $primary-font;
}

#search-box:focus-visible {
  outline: none;
}

#add-btn {
  border: none;
  border-radius: 10px;
  background-color: $btn-add;
  color: $background-color;
  font-family: $primary-font;
  font-weight: bold;
  cursor: pointer;
}

#add-btn > i {
  padding: 0 5px;
  font-weight: bold;
}
